<h1 class="mb-md-5">Restaurants</h1>

<ul class="list-unstyled">
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %> - <%= restaurant.category %> / <%= restaurant.address %> / <%= restaurant.phone_number %></li>
  <% end %>
</ul>

<%= link_to "Add a new restaurant", new_restaurant_path, class:"btn btn-primary" %>
